{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <div class="row">
        <h2 class="col">Course {{ course.name }}</h2>
        <a href="{% url 'teacher:enable_course' course.id %}" class="col-md-auto btn btn-primary">Enable registration</a>
    </div>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-6">
            <h2 class="h4">Registered Students</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {% for student in course.student_set.all %}
                <p>{{ student.user }} - Mat. Nr.: {{ student.student_nr }}</p>
            {% empty %}
                No students registered yet for this course
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
