{% extends "base.html" %}

{% block content %}
<h2>Your Courses</h2>

<span id="course-status-url" class="visually-hidden" data-course-status-url="{% url 'teacher:courses_status' %}"></span>

<div class="row gy-2">
{% for course in courses %}
    <div class="col-sm-6">
        <div class="card h-100 d-flex flex-column justify-content-between">
        <div>
            <div class="card-body">
                <div class="card-title row">
                    <h5 class="h5 col">Name: {{ course.name }}</h5>
                    {% include 'snippets/course_status_indicator.html' with course=course %}
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"># Students: {{ course.student_set.count }}</li>
                <li class="list-group-item">Duration: {{ course.duration }}min</li>
                <li class="list-group-item d-flex text-center flex-wrap">
                {% for day in course.sorted_start_times_set %}
                    {% include 'snippets/weekday_in_row_as_card.html' with day=day %}
                {% empty %}
                    No times registered for this course...
                {% endfor %}
                </li>
            </ul>
        </div>
        <div class="card-footer d-flex justify-content-around gx-1 flex-wrap">
            <a href="{{ course.get_absolute_teacher_url }}" class="btn btn-primary m-1 btn-sm">Show Course</a>
            <a href="{{ course.get_absolute_teacher_edit_url }}" class="btn btn-primary m-1 btn-sm">Edit Course</a>
            <a href="{{ course.get_absolute_teacher_delete_url }}" class="btn btn-primary m-1 btn-sm">Delete Course</a>
        </div>
        </div>
    </div>
{% empty %}
    <div class="jumbotron">
    No courses yet...
    </div>
{% endfor %}
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
function get_courses_states() {
    $.ajax({
        url: $("#course-status-url").attr("data-course-status-url"),
        dataType: 'json',
        method: "GET",
        success: function (data) {
            for (course_id in data) {
                if (data[course_id]) {
                    $(".course-status-"+course_id+"-ongoing").removeClass('visually-hidden');
                    $(".course-status-"+course_id+"-stopped").addClass('visually-hidden');
                    $(".course-status-"+course_id+"-unknown").addClass('visually-hidden');
                }
                else {
                    $(".course-status-"+course_id+"-ongoing").addClass('visually-hidden');
                    $(".course-status-"+course_id+"-stopped").removeClass('visually-hidden');
                    $(".course-status-"+course_id+"-unknown").addClass('visually-hidden');
                }
            }
        },
        error: function() {
            $('span[class^="course-status-"][class*="-ongoing"]').addClass('visually-hidden');
            $('span[class^="course-status-"][class*="-stopped"]').addClass('visually-hidden');
            $('span[class^="course-status-"][class*="-unknown"]').removeClass('visually-hidden');
        }
    });
}
setInterval(get_courses_states, 60000); // 1 minute
</script>
{% endblock %}