{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<h2>Edit Course</h2>
<form method="post" id="add-course-form">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    {{ form|crispy }}
    <hr/>
    <div class="weekdays-container">
    {{ week_days_formset.management_form|crispy }}
    <div style="display: none;" class="empty-weekday-form">
        <div class="row weekday_form">
            {{ week_days_formset.empty_form.id }}
            
            <div class="col-4">{{ week_days_formset.empty_form.day|as_crispy_field }}</div>
            <div class="col">{{ week_days_formset.empty_form.time|as_crispy_field }}</div>
            <div class="col-2 delete-weekday-container">
                {{ week_days_formset.empty_form.DELETE }}
            </div>
        </div>
        {% if week_days_formset.empty_form.errors %}
        <div class="row">
            {{ week_days_formset.empty_form.errors.as_p }}
        </div>
        {% endif %}
    </div>
    {% for wd_form in week_days_formset %}
        <div class="row weekday_form">
            {{ wd_form.id }}
            <div class="col-4">{{ wd_form.day|as_crispy_field }}</div>
            <div class="col">{{ wd_form.time|as_crispy_field }}</div>
            <div class="col-2 delete-weekday-container">
                {% if week_days_formset.can_delete and wd_form.instance.pk %}
                    {{ wd_form.DELETE }}
                {% endif %}
            </div>
        </div>
        {% if wd_form.errors %}
        <div class="row">
            {{ wd_form.errors.as_p }}
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <hr/>
    <div class="row btn-control-container d-flex justify-content-between">
        <button type="submit" class="btn btn-success">Update Course</button>
    </div>
</form>
{% endblock %}


{% block javascript %}
<script src="{% static "dynamic_formsets/jquery.formset.js" %}" type="text/javascript"> </script>
<script type="text/javascript">
    $('.weekday_form').formset({
        prefix: '{{ week_days_formset.prefix }}',
        addText: 'Add another date',
        addCssClass: 'btn btn-outline-primary',
        addContainerClass: 'weekdays-container',
        deleteText: 'Remove date',
        deleteCssClass: 'btn btn-outline-dark btn-sm',
        deleteContainerClass: 'delete-weekday-container',
        formCssClass: 'dynamic-formset-{{ week_days_formset.prefix }}',
        //formTemplate: $('.empty-weekday-form'),
        hideLastAddForm: true,
    });
</script>
{% endblock %}
