{% extends "base.html" %}

{% block content %}
<h2>Your Courses</h2>
<div class="row">
{% for course in courses %}
    <div class="col-sm-6">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Name: {{ course.name }}</h5>
            <ul class="list-group">
            <li class="list-group-item"># Students: {{ course.student_set.count }}</li>
            <li class="list-group-item">Duration: {{ course.duration }}min</li>
            {% for day in course.start_times.all %}
                <li class="list-group-item">{{ day.get_day_display }}: {{ day.time|time }}</li>
            {% empty %}
                <li class="list-group-item">No times registered for this course</li>
            {% endfor %} 
            </ul>
            <div class="d-flex justify-content-around">
                <a href="{{ course.get_absolute_teacher_url }}" class="btn btn-primary">Edit Course</a>
            </div>
        </div>
        </div>
    </div>
{% empty %}
    <div class="jumbotron">
    No classes yet...
    </div>
{% endfor %}
</div>
{% endblock %}
