{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.is_teacher %}
            <span class="icon-feather" data-toggle="tooltip" data-placement="right" title="Teacher profile"></span>
        {% else %}
            <span class="icon-graduation-cap" data-toggle="tooltip" data-placement="right" title="Student profile"></span>
        {% endif %}
    {% endif %}
    <h2>Courses</h2>
    <ul>
        {% for course in courses %}
            <li><a href="{{ course.get_absolute_url }}">{{ course.name }}</a></li>
        {% empty %}
            <li>No classes yet...</li>
        {% endfor %}
    </ul>
{% endblock %}
