{% extends "base.html" %}

{% block content %}
    <div class="jumbotron text-center">
        <div class="row justify-content-md-center">
            <a href="{% url 'login' %}" class="tile bg-primary col-12 mb-2">
                <h1 class="h3 my-5 font-weight-normal text-white">Login</h1>
            </a>
        </div>
        <div class="row justify-content-md-center gap-3">
            <a href="{% url 'signup' %}" class="tile bg-primary col-6">
                <h1 class="h3 my-5 font-weight-normal text-white">Sign up as a student</h1>
            </a>
            <a href="{% url 'signup' %}" class="tile bg-primary col-6">
                <h1 class="h3 my-5 font-weight-normal text-white">Sign up as a teacher</h1>
            </a>
        </div>
    </div>
{% endblock %}